node_modules
.env
!.env.example
!.env.*.example
*.env
dist
artifacts
cache
.next
coverage
coverage/lcov-report
*.tsbuildinfo
package-lock.json
yarn-error.log
docs/*.png
frontend/.vercel
relayer/.docker

